<%- include('../partials/user_header') -%>


  <main class="main">
    <section class="pt-150 pb-150">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 m-auto">
                    <div class="row  d-flex align-items-center justify-content-center" >

                        <div class="col-lg-6">
                            <div class="login_wrap widget-taber-content p-30 background-white border-radius-5">
                                <div class="padding_eight_all bg-white">
                                    <div class="heading_s1">
                                        <h3 class="mb-30">Change Password</h3>
                                    </div>
                                    <form method="post" action="#" >
                                        
                                        <div class="form-group">
                                            <input type="email" required name="email" placeholder="Email" id="email" >
                                            <div id="emailError" class="error-message"></div>
                                        </div>
                                        
                                        <div class="form-group">
                                            <button type="button" class="btn btn-sm btn-fill-out btn-block hover-up" id="sendOTPButton" name="sendOTPBtn" >Send OTP</button>
                                        </div>
                                        <div class="form-group">
                                            <button class="btn btn-sm btn-fill-out btn-block hover-up" type="button" id="resendOTPButton" style="display: none;">Resend OTP</button>
                                        </div>
                                        <div class="form-group">
                                            <div id="timer" class="mb-3" style="display: none; color: rgb(0, 0, 0);"></div>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" required="" name="otpInput" placeholder="Enter OTP" id="otpInput">
                                        </div>  
                                        <div class="form-group">
                                            <button type="button" class="btn btn-sm btn-fill-out btn-block hover-up" id="verifyOTPButton" name="verifyOTPBtn">Verify OTP</button>
                                        </div>

                                        <div class="form-group">
                                          <input required="" type="password" name="password" placeholder="Password" id="password">
                                          <div id="passwordError" class="error-message"></div>
                                      </div>
                                      <div class="form-group">
                                          <input required="" type="password" name="confirmpassword" placeholder="Confirm password" id="confirmpassword">
                                          <div id="confirmpasswordError" class="error-message"></div>
                                      </div>

                                      <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="showPasswordCheckbox" onclick="togglePasswordVisibility()">
                                        <label class="form-check-label" for="showPasswordCheckbox">Show Password</label>
                                      </div>


                                        <div class="form-group">
                                            <button type="submit" class="btn btn-fill-out btn-block hover-up" name="loginbtn" id="submitButton">Change Password</button>
                                        </div>
                                    </form>
                                    
                                    <script>
                                      function togglePasswordVisibility() {
                                        var passwordInput = document.getElementById('password');
                                        var confirmPasswordInput = document.getElementById('confirmpassword');
                                      
                                        if (document.getElementById('showPasswordCheckbox').checked) {
                                          passwordInput.type = 'text';
                                          confirmPasswordInput.type = 'text';
                                        } else {
                                          passwordInput.type = 'password';
                                          confirmPasswordInput.type = 'password';
                                        }
                                      }
                                      </script>

                                    <div class="text-muted text-center">ippo password orma vanno? <a href="/login"> enna Sign in cheytho</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
  </main>

    <!-- for sending otp and verifing -->

  <script> 

  let countdown;
  const timerElement = document.getElementById('timer');
  const sendOTPButton = document.getElementById('sendOTPButton');
  const resendOTPButton = document.getElementById('resendOTPButton');

 


window.addEventListener("DOMContentLoaded", () => {
    const submitButton = document.getElementById('submitButton')
     submitButton.disabled = true;
     
     sendOTPButton.addEventListener('click', (e)=>{
        e.preventDefault();

        //validate the email before sending otp
        if(validateForm()){
            const email = document.getElementById('email').value;

            fetch(`/forgotSendOtp?email=${email}`)
            .then((response)=>{
                if(!response.ok){
                    throw new Error(`HTTP error! staus: ${response.staus}`);
                }
                return response.json();
            })
            .then((data)=>{
                console.log('Response from server', data)

                if(data.error){
                     // User doesn't exists, display error message
                     Swal.fire({
                        position: 'top-center',
                        icon: 'error',
                        title: data.error,
                        showConfirmButton: false,
                        timer: 1500
                    });
                    } else {
                    // User exists, continue with OTP sending logic
                    Swal.fire({
                        position: 'top-center',
                        icon: 'success',
                        title: data.message,
                        showConfirmButton: false,
                        timer: 1500
                    });
                    startResendTimer();
                    }
            })
            .catch((error) => {
                        console.error("Error sending OTP", error);
                    });
        }
     });
    });


    window.addEventListener("DOMContentLoaded", () => {
    const submitButton = document.getElementById('submitButton')
     submitButton.disabled = true;
     
     resendOTPButton.addEventListener('click', (e)=>{
        e.preventDefault();
        clearInterval(countdown); // Corrected variable name


        //validate the email before sending otp
        if(validateForm()){
            const email = document.getElementById('email').value;

            fetch(`/forgotSendOtp?email=${email}`)
            .then((response)=>{
                if(!response.ok){
                    throw new Error(`HTTP error! staus: ${response.staus}`);
                }
                return response.json();
            })
            .then((data)=>{
                console.log('Response from server', data)

                if(data.error){
                     // User doesn't exists, display error message
                     Swal.fire({
                        position: 'top-center',
                        icon: 'error',
                        title: data.error,
                        showConfirmButton: false,
                        timer: 1500
                    });
                    } else {
                    // User exists, continue with OTP sending logic
                    Swal.fire({
                        position: 'top-center',
                        icon: 'success',
                        title: data.message,
                        showConfirmButton: false,
                        timer: 1500
                    });
                    startResendTimer();
                    }
            })
            .catch((error) => {
                        console.error("Error sending OTP", error);
                    });
        }
     });
    });

     function validateForm(){
        // resetErrorMessages();

        const email = document.getElementById('email').value;

        //Validate email
        const emailPattern = /^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$/;
        if(!email.match(emailPattern)){
            showError('emailError', "Inavlid email address");
            return false;   
        }

        return true;
     }

         // Function to show error message
         function showError(elementId, message) {
            const errorElement = document.getElementById(elementId);
            errorElement.textContent = message;
            errorElement.style.color = 'red';
        }

        // Function to reset error messages
        function resetErrorMessages() {
            const errorElements = document.querySelectorAll('.error-message');
            errorElements.forEach((element) => {
                element.textContent = '';
            });
        }

    function startResendTimer(){
        let remainingTime = 10;
        timerElement.style.display = "block";
        resendOTPButton.style.display = "none";
        sendOTPButton.style.display = "none"; //hiding send otp button

        countdown = setInterval(()=>{
            timerElement.textContent = `Resend OTP in ${remainingTime} seconds`;
            remainingTime --;

            if(remainingTime < 0){
        timerElement.style.display = "none";
        resendOTPButton.style.display = "block";
        sendOTPButton.style.display = "none"; // Ensure sendOTPButton is hidden when timer expires
        }

        }, 1000)

      
    }       
 

    // verify otp
    const verifyOTPButton = document.getElementById("verifyOTPButton");

verifyOTPButton.addEventListener("click", (e)=> {
    e.preventDefault();

    const otpInput = document.querySelector('input[name="otpInput"]').value;
    fetch(`/forgotVerifyOtp?otpInput=${otpInput}`,{
        method: "POST"})
    
    .then((Response) => {
        if(!Response.ok) {
            throw new Error(`HTTP error! status: ${Response.status}`)
        }
        return Response.json(); 
    })  
    .then((data)=>{
        console.log("Response from server", data)
        Swal.fire({
            position: 'top-center',
            icon: 'success',
            title: 'OTP verified successfully',
            showConfirmButton: false,
            timer: 1500
        })
        // startResendTimer()
     submitButton.disabled = false;

    })
    .catch((error)=>{
        console.error("Invalid OTP",error);
        Swal.fire({
        position: 'top-center',
        icon: 'error',
        title: "Invalid OTP",
        showConfirmButton: false,
        timer: 1500
    });
    })
}) 



const submitButton = document.getElementById('submitButton')
submitButton.addEventListener('click', (e)=>{
    e.preventDefault();


    function validatePassword(){
            // resetErrorMessages();

        const password = document.getElementById('password').value;


        const confirmpassword = document.getElementById('confirmpassword').value;
        let flag = true;

        // Validate password length
        if (password.length < 6) {
                showError('passwordError', 'Password must be at least 6 characters');
                flag =false;

             
            }

            // Validate password confirmation
            if (password !== confirmpassword) {
                showError('confirmpasswordError', 'Passwords do not match');
                flag =false;
            }

        return flag;
     }


    if(validatePassword()){
        const email = document.getElementById('email').value;
    const password = document.querySelector('input[name="password"]').value;
        fetch(`/forgotChangePassword?email=${email}&password=${password}`, {method:'POST'})
        .then((response)=>{
            if(!response.ok){
                throw new Error(`HTTPS error! status:${response.status}`)
            }
            return response.json();
        })
        .then((data)=>{
            console.log("Response from server pass", data);

            if(data.same){
                Swal.fire({
                    position: 'top-center',
                    icon: 'error',
                    title: 'same old pass bruh!',
                    showConfirmButton: false,
                    timer: 1500
                    });
            } else {
                window.location.href="/login"
            }
        })
        .catch((error) => {
                        console.error("Error sending OTP", error);
                    });
    }
})





</script>



    <!-- Vendor JS-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>


    <script src="/userAssets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="/userAssets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="/userAssets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="/userAssets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="/userAssets/js/plugins/slick.js"></script>
    <script src="/userAssets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="/userAssets/js/plugins/wow.js"></script>
    <script src="/userAssets/js/plugins/jquery-ui.js"></script>
    <script src="/userAssets/js/plugins/perfect-scrollbar.js"></script>
    <script src="/userAssets/js/plugins/magnific-popup.js"></script>
    <script src="/userAssets/js/plugins/select2.min.js"></script>
    <script src="/userAssets/js/plugins/waypoints.js"></script>
    <script src="/userAssets/js/plugins/counterup.js"></script>
    <script src="/userAssets/js/plugins/jquery.countdown.min.js"></script>
    <script src="/userAssets/js/plugins/images-loaded.js"></script>
    <script src="/userAssets/js/plugins/isotope.js"></script>
    <script src="/userAssets/js/plugins/scrollup.js"></script>
    <script src="/userAssets/js/plugins/jquery.vticker-min.js"></script>
    <script src="/userAssets/js/plugins/jquery.theia.sticky.js"></script>
    <!-- Template  JS -->
    <script src="/userAssets/js/maind134.js?v=3.4"></script>