<%- include('../partials/user_header') -%>


<main class="main">

  <section class="pt-150 pb-150">
      <div class="container">
          <div class="row">
              <div class="col-lg-10 m-auto">
                  <div class="row  d-flex align-items-center justify-content-center">
                      <div class="col-lg-5">
                          <div class="login_wrap widget-taber-content p-30 background-white border-radius-10 mb-md-5 mb-lg-0 mb-sm-5">
                              <div class="padding_eight_all bg-white">
                                  <div class="heading_s1">
                                      <%if (typeof subreddit !== 'undefined') {%>
                                          <p class="text-center" style="color:red;"><%= subreddit %></p>
                                      <%}%>
                                      <h3 class="mb-30">Login</h3>
                                  </div>
                                  
                                  <form method="post" action="/postLogin" id="loginForm">
                                    <div class="form-group">
                                        <input type="email" required="" name="email" placeholder="Your Email" id="email">
                                        <div id="emailError" class="error-message"></div>
                                    </div>
                                    <div class="form-group">
                                        <input required="" type="password" name="password" placeholder="Password" id="password">
                                        <div id="passwordError" class="error-message"></div>   
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="showPasswordCheckbox" onclick="togglePasswordVisibility()">
                                        <label class="form-check-label" for="showPasswordCheckbox">Show Password</label>
                                    </div>
                                    <div class="login_footer form-group">
                                        <a class="text-muted" href="/forgotPassword">Forgot password?</a>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-fill-out btn-block hover-up" name="login" id="loginButton">Log in</button>
                                    </div>
                                    <div class="form-group">
                                        <p>Don't have an account? <span><a href="/signup"> Sign up</a></span></p>
                                    </div>
                                
                                    <%if (typeof message !== 'undefined') {%>
                                    <p class="text-center" style="color:rgb(20, 159, 36);"><%= message %></p>
                                    <%}%>
                                
                                    <script>
                                        function togglePasswordVisibility() {
                                          var password = document.getElementById('password');
                                          if (document.getElementById('showPasswordCheckbox').checked) {
                                            password.type = 'text';
                                          } else {
                                            password.type = 'password';
                                          }
                                        }
                                    </script>

                                </form>
                                
                              </div>
                          </div>
                      </div>

              </div>
          </div>
      </div>
  </section>
</main>

<script>

    document.addEventListener("DOMContentLoaded", ()=>{
        const loginButton = document.getElementById('loginButton');
        

        loginButton.addEventListener('click', (e)=>{
            e.preventDefault();


            if(validateForm()){
                const email = document.getElementById('email').value;
                const password = document.getElementById('password').value;

                fetch(`/postLogin?email=${email}&password=${password}`, {method: 'POST'})

                .then((response)=>{
                    if(!response.ok){
                        throw new Error(`HTTP error! status: ${response.status}`);
                    }
                    return response.json();
                })

                .then((data) => {
                console.log("Response from server", data);
                if (data.success) {
                    window.location.href = "/";
                } else if (data.error) {
                    // console.log(data.error);
                    Swal.fire({
                        position: 'top-center',
                        icon: 'error',
                        title: data.error,
                        showConfirmButton: false,
                        timer: 1500
                    });
                }
            })
            .catch(error => {
                console.error("Error:", error);
            });
            
            }
        });



        function validateForm(){
            const email = document.getElementById('email').value;
            const password = document.getElementById('password').value;
            resetErrorMessages();
             // Validate email
            const emailPattern = /^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$/;
            if (!email.match(emailPattern)) {
                showError('emailError', 'Invalid email address');
                return false;   
            }

            // Validate password length
            if (password.length < 6) {
                showError('passwordError', 'Password must be at least 6 characters');
                return false;
            }
            return true;
        }

        // Function to show error message
        function showError(elementId, message) {
            const errorElement = document.getElementById(elementId);
            errorElement.textContent = message;
            errorElement.style.color = 'red';
        }  

        // Function to reset error messages
        function resetErrorMessages() {
        const errorElements = document.querySelectorAll('.error-message');
        errorElements.forEach((element) => {
            element.textContent = '';
        });
        }


    });

</script>

      <!-- Vendor JS-->
     <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="/userAssets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="/userAssets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="/userAssets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="/userAssets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="/userAssets/js/plugins/slick.js"></script>
    <script src="/userAssets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="/userAssets/js/plugins/wow.js"></script>
    <script src="/userAssets/js/plugins/jquery-ui.js"></script>
    <script src="/userAssets/js/plugins/perfect-scrollbar.js"></script>
    <script src="/userAssets/js/plugins/magnific-popup.js"></script>
    <script src="/userAssets/js/plugins/select2.min.js"></script>
    <script src="/userAssets/js/plugins/waypoints.js"></script>
    <script src="/userAssets/js/plugins/counterup.js"></script>
    <script src="/userAssets/js/plugins/jquery.countdown.min.js"></script>
    <script src="/userAssets/js/plugins/images-loaded.js"></script>
    <script src="/userAssets/js/plugins/isotope.js"></script>
    <script src="/userAssets/js/plugins/scrollup.js"></script>
    <script src="/userAssets/js/plugins/jquery.vticker-min.js"></script>
    <script src="/userAssets/js/plugins/jquery.theia.sticky.js"></script>
    <!-- Template  JS -->
    <script src="/userAssets/js/maind134.js?v=3.4"></script>