<!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-form-product-1.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:31 GMT -->
<head>
    <meta charset="utf-8">
    <title>Add Product</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/admin_assets/imgs/theme/favicon.webp">
    <!-- Template CSS -->
    <link href="/admin_assets/css/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="/admin" class="brand-wrap">
                <img src="/admin_assets/imgs/theme/logo.png" class="logo" alt="Evara Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item">
                    <a class="menu-link" href="/admin/dashboard"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item has-submenu active">
                    <a class="menu-link" href="page-products-list.html"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/products">Product View</a>
                        <a href="/admin/addProduct" class="active">Add Product</a>
                    </div>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/orders"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/categories"> <i class="icon material-icons md-category"></i>
                        <span class="text">Categories</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/users"> <i class="icon material-icons md-person"></i>
                        <span class="text">Users</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/brands"> <i class="icon material-icons md-stars"></i>
                        <span class="text">Brands</span> </a>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="page-products-list.html"> <i class="icon material-icons md-local_offer"></i>
                        <span class="text">Coupons</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/coupons">Coupon View</a>
                        <a href="/admin/add-coupon">Add Coupon</a>
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="page-products-list.html"> <i class="icon material-icons md-request_quote"></i>
                        <span class="text">Offers</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/offers">Offer View</a>
                        <a href="/admin/add-offer">Add Offer</a>
                    </div>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/sales-report"> <i class="icon material-icons md-pie_chart"></i>
                        <span class="text">Sales Report</span>
                    </a>
                </li>
            </ul>
            <hr>
            <ul class="menu-aside">
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="#"> <i class="icon material-icons md-settings"></i>
                        <span class="text">Settings</span>
                    </a>
                    <div class="submenu">
                        <a href="page-settings-1.html">Setting sample 1</a>
                        <a href="page-settings-2.html">Setting sample 2</a>
                    </div>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="page-blank.html"> <i class="icon material-icons md-local_offer"></i>
                        <span class="text"> Starter page </span>
                    </a>
                </li>
            </ul>
            <br>
            <br>
        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
                <form class="searchform">
                    <div class="input-group">
                        <input list="search_terms" type="text" class="form-control" placeholder="Search term">
                        <button class="btn btn-light bg" type="button"> <i class="material-icons md-search"></i></button>
                    </div>
                    <datalist id="search_terms">
                        <option value="Products">
                        <option value="New orders">
                        <option value="Apple iphone">
                        <option value="Ahmed Hassan">
                    </datalist>
                </form>
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="material-icons md-apps"></i> </button>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link btn-icon" href="#">
                            <i class="material-icons md-notifications animation-shake"></i>
                            <span class="badge rounded-pill">3</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownLanguage" aria-expanded="false"><i class="material-icons md-public"></i></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLanguage">
                            <a class="dropdown-item text-brand" href="#"><img src="/admin_assets/imgs/theme/flag-us.png" alt="English">English</a>
                            <a class="dropdown-item" href="#"><img src="/admin_assets/imgs/theme/flag-fr.png" alt="Français">Français</a>
                            <a class="dropdown-item" href="#"><img src="/admin_assets/imgs/theme/flag-jp.png" alt="Français">日本語</a>
                            <a class="dropdown-item" href="#"><img src="/admin_assets/imgs/theme/flag-cn.png" alt="Français">中国人</a>
                        </div>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="/admin_assets/imgs/people/avatar2.jpg" alt="User"></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit Profile</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account Settings</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-account_balance_wallet"></i>Wallet</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help center</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="#"><i class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>
        <section class="content-main">
            <div class="row">
                <div class="col-9">
                    <div class="content-header">
                        <h2 class="content-title">Add New Product</h2>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4>Basic</h4>
                            <% if (locals.message) { %>
                                <div class="alert alert-success" role="alert">
                                  <%= message %>
                                </div>
                              <% } %>
                        </div>
                        <div class="card-body">
                            <form action="/admin/postAddProduct" method="post" enctype="multipart/form-data">
                                <div class="mb-4">
                                    <label for="product_name" class="form-label">Product Name</label>
                                    <input type="text" placeholder="Type here" class="form-control" name="product_name" id="productName">
                                    <div id="productNameError" class="error-message"></div>
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Full description</label>
                                    <textarea placeholder="Type here" class="form-control" name="product_desc" id="productDesc" rows="4"></textarea>
                                    <div id="productDescError" class="error-message"></div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="mb-4">
                                            <label class="form-label">Brands</label>
                                            <div class="row gx-2">
                                                <select class="form-select" name="product_brand" id="productBrand" >
                                                  <% brands.reverse().forEach(brand => { %>
                                                    <% if(brand.isListed === "Active") { %>
                                                    <option><%= brand.brandName %> </option>
                                                  <% } %>
                                                  <% }) %>
                                                </select>
                                            </div>                                              
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="mb-4">
                                            <label class="form-label">Category</label>
                                            <div class="row gx-2">
                                                <select class="form-select" name="product_cat">
                                                  <% categories.reverse().forEach(category => { %>
                                                    <% if(category.isListed === "Active") { %>
                                                    <option><%= category.categoryName %> </option>
                                                  <% } %>
                                                  <% }) %>
                                                </select>
                                            </div>                                              
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="mb-4 ">
                                            <label class="form-label">Colour</label>
                                            <div class="row gx-2">
                                                <input placeholder="Type Here" type="text" class="form-control" id="productColour" name="product_colour">
                                                <div id="productColourError" class="error-message"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="mb-4">
                                            <label class="form-label">Form Factor</label>
                                            <div class="row gx-2">
                                                <select class="form-select" name="product_factor">
                                                    <option> Over-ear </option>
                                                    <option> On-ear </option>
                                                    <option> In-ear </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="mb-4">
                                            <label class="form-label">Connectivity</label>
                                            <div class="row gx-2">
                                                <select class="form-select" name="product_connect">
                                                    <option> Wireless </option>
                                                    <option> Wired </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="mb-4 ">
                                            <label class="form-label">Stock</label>
                                            <div class="row gx-2">
                                                <input placeholder="Type Here" type="number" class="form-control" name="product_stock" id="productStock">
                                                <div id="productStockError" class="error-message"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="mb-4">
                                            <label class="form-label">Status</label>
                                            <div class="row gx-2">
                                                <select class="form-select" name="product_status">
                                                    <option> Active </option>
                                                    <option> Inactive </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="mb-4">
                                            <label class="form-label">Sale price</label>
                                            <input placeholder="₹" type="number" class="form-control" name="product_sale_price" id="productSalePrice" >
                                            <div id="productSalePriceError" class="error-message"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <button id="publishButton" type="submit" class="btn btn-md rounded font-sm hover-up ms-auto">Publish</button>
                                </div>
                            </div>
                            </div> <!-- card end// -->
                            </div>
                            <div class="col-lg-3">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <h4>Media</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="input-upload">
                                            <img src="/admin_assets/imgs/theme/upload.svg" alt="">
                                            <input required class="form-control" type="file" name="productImages" id="productImages" multiple onchange="previewImages(this)">
                                            <div id="productImageError" class="error-message"></div>
                                         </div>
                                        <div id="imagePreviewContainer" class="mt-3"></div> <!-- Add this line for image preview -->
                                    </div>
                                </div>
                            </form>
                            </div>
                             <!-- card end// -->

                  
                    


                </div>
        </section> <!-- content-main end// -->
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                    document.write(new Date().getFullYear())
                    </script> ©, heeder.
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>
    <script src="/admin_assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/admin_assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/admin_assets/js/vendors/select2.min.js"></script>
    <script src="/admin_assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="/admin_assets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="/admin_assets/js/main.js" type="text/javascript"></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-form-product-1.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:32 GMT -->
</html>

<!-- script for image preview while adding -->
<script>
    function previewImages(input) {
        var previewContainer = document.getElementById('imagePreviewContainer');
        previewContainer.innerHTML = ''; // Clear previous previews

        if (input.files && input.files.length > 0) {
            for (var i = 0; i < input.files.length; i++) {
                var reader = new FileReader();
                var imagePreview = document.createElement('img');
                imagePreview.className = 'preview-image';
                imagePreview.setAttribute('data-index', i); // Store the index for tracking

                reader.onload = (function (preview, index) {
                    return function (e) {
                        preview.src = e.target.result;
                        // preview.onclick = function () { removeImage(index); };
                    };
                })(imagePreview, i);

                reader.readAsDataURL(input.files[i]);

                previewContainer.appendChild(imagePreview);
            }
        }
    }

</script>


<!-- script for add product form vaidation -->
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const publishButton = document.getElementById('publishButton');

        publishButton.addEventListener('click', (e) => {
            if (!validateForm()) {
                e.preventDefault();
            }
        });

        function validateForm() {
                resetErrorMessages();

                const inputFields = [
                    { id: 'productName', name: 'Product Name' },
                    { id: 'productDesc', name: 'Product Description' },
                    { id: 'productBrand', name: 'Product Brand' },
                    { id: 'productColour', name: 'Product Colour' },
                    { id: 'productStock', name: 'Product Stock' },
                    { id: 'productSalePrice', name: 'Product Sale Price' }
                ];

                let isValid = true;

                inputFields.forEach((field) => {
                    const originalValue = document.getElementById(field.id).value;
                    const trimmedValue = originalValue.trim();

                    if (trimmedValue.length === 0) {
                        showError(`${field.id}Error`, `${field.name} cannot be empty`);
                        isValid = false;
                    }

                    if (originalValue !== trimmedValue) {
                        showError(`${field.id}Error`, `${field.name} cannot have whitespaces`);
                        isValid = false;
                    }
                });

                // Validations for stock and prices
                const stockValue = parseFloat(document.getElementById('productStock').value);
                const salePriceValue = parseFloat(document.getElementById('productSalePrice').value);

                if (isNaN(stockValue) || stockValue < 0) {
                    showError('productStockError', 'Stock must be a number and cannot be less than 0');
                    isValid = false;
                }

                if (isNaN(salePriceValue) || salePriceValue <= 0) {
                    showError('productSalePriceError', 'Sale Price must be a number and greater than 0');
                    isValid = false;
                }

                const fileInput = document.getElementById('productImages');
                const allowedFormats = ['jpg', 'jpeg', 'png', 'webp'];
                const selectedFiles = Array.from(fileInput.files);

                const invalidFormat = selectedFiles.some(file=>{
                    const fileNameParts = file.name.split('.');
                    const fileFormat = fileNameParts[fileNameParts.length - 1].toLowerCase();
                    return !allowedFormats.includes(fileFormat);
                })

                if(invalidFormat){
                    showError('productImageError', 'Invalid image format');
                    isValid = false;
                }

                return isValid;
            }



        function showError(elementId, message) {
            const errorElement = document.getElementById(elementId);
            errorElement.textContent = message;
            errorElement.style.color = 'red';
        }

        
        function resetErrorMessages() { 
            const errorElements = document.querySelectorAll('.error-message');
            errorElements.forEach((element) => {
                element.textContent = '';
            });
        }

    });
</script>

